<div class="flex items-center justify-between border-t border-gray-200 dark:bg-gray-700 my-2">
      <div class="">
        <p class="text-sm text-gray-700 dark:text-gray-100">
          Showing
          <span class="font-medium">{{(pagination.currentPage-1)*pageQueryParam.limit+1}}</span>
          to
          <span class="font-medium">{{((pagination.currentPage)*pageQueryParam.limit)>pagination.totalDocuments? pagination.totalDocuments:(pagination.currentPage)*pageQueryParam.limit}}</span>
          of
          <span class="font-medium">{{pagination.totalDocuments}}</span>
          results
        </p>
      </div>

      <form class="max-w-sm">
        <select id="underline_select" class="w-[3rem] text-center block py-2.5 px-0 text-md text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" [(ngModel)]="pageQueryParam.limit" name="limit" (ngModelChange)="onChangeLimit()">
            <option *ngFor="let limit of pagination?.limit" [selected]="limit.selected">{{limit.value}}</option>
        </select>
      </form>
    <div class="">
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-xs" aria-label="Pagination">
        <button class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 dark:bg-gray-800 hover:dark:bg-gray-600" [disabled]="pagination.currentPage-1<=0" (click)="onChangePage(pagination.currentPage-1)">
          <span class="sr-only">Previous</span>
          <svg class="size-5 dark:text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>

        <a class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 hover:dark:bg-gray-600 dark:bg-gray-800 dark:text-white" *ngIf="pagination.currentPage > 1" (click)="onChangePage(pagination.currentPage - 1)">{{pagination.currentPage - 1}}</a>
        <a class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:text-white">{{pagination.currentPage}}</a>
        <a class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 hover:dark:bg-gray-600 focus:z-20 focus:outline-offset-0 md:inline-flex dark:bg-gray-800 dark:text-white" *ngIf="pagination.currentPage < pagination.totalPages" (click)="onChangePage(pagination.currentPage + 1)">{{pagination.currentPage+1}}</a>

        <button class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 dark:bg-gray-800 hover:dark:bg-gray-600 focus:z-20 focus:outline-offset-0" [disabled]="(pagination.currentPage + 1) > pagination.totalPages" (click)="onChangePage(pagination.currentPage + 1)"
          >
          <span class="sr-only">Next</span>
          <svg class="size-5 dark:text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </nav>

    </div>

</div>
